/* Root Styles */

* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
  
*::-webkit-scrollbar-track {
    background: orange;
}
  
*::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 1em;
    border: 0.15em solid orange;
}

:root {
    /*Colors*/
    --clr-light: #cfcfcf;
    --clr-dark: #303030;
    --clr-dark-secondary: #404040;
    --clr-accent: #76c2a1;
    --clr-accent-secondary: #e08f80;

    /* Font-size */
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
    --fs-h5: 1.05rem;
    --fs-body: 1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-dark);
}

.content__container {
    display: flex;
    background-color: red;
    max-height: 85vh;
    min-height: 85vh;
}

.app__title {
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h1);
    padding: 0em;
    margin: 0.5rem;
}

/* General Table */

.table__title {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 1em;
    text-align: center;
    font-size: var(--fs-h3);
}

.table {
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-width: 95%;
    min-width: 95%;
    max-height: 73%;
    min-height: 73%;
    overflow-y: scroll;
}

.table__header {
    background-color: green;
    text-align: center;
    font-size: var(--fs-h5);
}

.table__header tr th {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.1em;
}

.table__body {
    background-color: azure;
    text-align: center;
    font-size: var(--fs-body);
}

/* Ingredients Section */

.ingredients__container {
    background-color: lightskyblue;
    border-radius: 1em;
    margin-left: 0.5rem;
    width: 25%;
}

.ingredient_key {
    display: block;
    height: 1.5rem;
    width: 8.9rem;
    overflow: hidden;
    padding-top: 0.2em;
}

.ingredient__delete__button {
    text-decoration: none;
    color: black;
}

.ingredients__form {
    background-color: deeppink;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.ingredients_name_label {
    margin-left: 2.5em;
    margin-right: 2.6em;
}

.ingredients_name {
    width: 13.5em;
    margin-top: 0.25em;
}

.ingredients_amount {
    width: 4em;
}

.ingredients_button {
    color: red;
    margin-top: 0.25em;
    margin-left: 3.4em;
}

/* Recipe Section */

.recipes__container {
    background-color: lightseagreen;
    border-radius: 1em;
    margin-left: 0.5rem;
    width: 25%;
}

.recipes__table__recipe {
    display: block;
    height: 1.5rem;
    width: 13.2rem;
    overflow: hidden;
    padding-top: 0.2em;
}

.recipes__table__recipe__button {
    text-decoration:underline;
    color: black;
}

.recipe__delete__button {
    text-decoration: none;
    color: black;
}

.recipe__create__button {
    margin: 1.4em;
    margin-left: 6em;
    color: red;
}

/* Available Section */

.available__container {
    background-color: lightsalmon;
    border-radius: 1em;
    margin-left: 0.5rem;
    width: 25%;
}

.available__table__recipe {
    display: block;
    height: 1.5rem;
    width: 17.5em;
    overflow: hidden;
    padding-top: 0.2em;
}

.check__available__button {
    margin: 1.4em;
    margin-left: 3.6em;
    color: red;
}

/* Your Meal Secition */

.yourmeal__container {
    background-color: lightgreen;
    border-radius: 1em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 25%;
}

.yourmeal__table__recipe {
    display: block;
    height: 1.5rem;
    width: 17.5em;
    overflow: hidden;
    padding-top: 0.2em;
}

.yourmeal__button {
    margin-left: 6em;
    margin-bottom: 0.25em;
    color: red;
}

.yourmeal__accept__label {
    margin-left: 2.8em;
}

.yourmeal__bottom__container {
    display: inline-flex;
    background-color: brown;
    margin-top: 0.5em;
}

.accept__yes {
    display: inline-block;
    margin-left: 6.5em;
    margin-right: 2em;
    width: 2em;
    color: red;
}

.accept__no {
    display: inline-block;
    width: 2em;
    color: red;
}

/* Recipe Details Modal */

.detail__title {
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h1);
    padding: 0em;
    margin: 0.5rem;
}

.detail__container {
    background-color: var(--clr-accent);
    border-radius: 1em;
    width: 50%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;
}

.detail__recipe__name {
    background-color: red;
    font-size: var(--fs-h2);
}

.detail__table__title {
    background-color: blanchedalmond;
    font-size: var(--fs-h3);
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.detail__table {
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-width: 100%;
    min-width: 100%;
    max-height: 80%;
    min-height: 80%;
}

.detail__table__header {
    background-color: green;
    text-align: center;
    font-size: var(--fs-h5);
}

.detail__table__header tr th {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.1em;
}

.detail__table__body {
    background-color: azure;
    text-align: center;
    font-size: var(--fs-body);
}

.detail_ingredient_key {
    width: 27.5em;
    height: 1.6em;
}

.detail_ingredient_value {
    width: 7.7em;
}

/* Create Recipe Modal */
