/* Root Styles */

* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    scrollbar-width: thin;
    scrollbar-color: var(--clr-dark) var(--clr-light);
}

*::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
  
*::-webkit-scrollbar-track {
    background: var(--clr-light);
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--clr-dark);
    border-radius: 1em;
    border: 0.15em solid var(--clr-light);
}

:root {
    /*Colors*/
    --clr-light: #cfcfcf;
    --clr-dark: #303030;
    --clr-dark-secondary: #404040;
    --clr-dark-grey: #606060;
    --clr-accent: #76c2a1;
    --clr-accent-secondary: #e08f80;
    
    /* Font-size */
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
    --fs-h5: 1.05rem;
    --fs-body: 1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-dark);
}

.content__container {
    display: flex;
    max-height: 85vh;
    min-height: 85vh;
}

.app__title {
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h1);
    padding: 0em;
    margin: 0.5rem;
}

/* General Table */

.table__title {
    background-color: var(--clr-accent-secondary);
    border: 0.1em solid var(--clr-dark-grey);
    border-radius: 1em;
    text-align: center;
    font-size: var(--fs-h3);
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-width: 95%;
    min-width: 95%;
    max-height: 73%;
    min-height: 73%;
    overflow-y: scroll;
}

.table__header {
    background-color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h5);
}

.table__header tr th {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.1em;
    border-radius: 0.2em;
    border: 0.1em solid var(--clr-dark-grey);
}

.table__body {
    text-align: center;
    font-size: var(--fs-body);
}

.table__body tr td {
    border-radius: 0.2em;
    background-color: whitesmoke;
}

/* Ingredients Section */

.ingredients__container {
    background-color: var(--clr-light);
    border-radius: 1em;
    margin-left: 0.5rem;
    width: 25%;
}

.ingredient_key {
    display: block;
    height: 1.5rem;
    width: 10.75vw;
    overflow: hidden;
    padding-top: 0.2em;
}

.ingredient__delete__button {
    text-decoration: none;
    color: #e84d4d;
}

.ingredients__form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ingredients_name_label {
    margin-left: 15%;
}

.ingredients_amount_label {
    margin-left: 10%;
}

.ingredients_name {
    width: 70%;
    margin-top: 0.2em;
}

.ingredients_amount {
    width: 20%;
}

.ingredients_button {
    color: black;
    background-color: var(--clr-accent);
    margin-top: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 1em;
    border: 0.1em solid var(--clr-dark-grey);
    cursor: pointer;
}

.ingredients_button:hover {
    transform: scale(1.1);
}

/* Recipe Section */

.recipes__container {
    background-color: var(--clr-light);
    border-radius: 1em;
    margin-left: 0.5rem;
    width: 25%;
}

.recipes__table__recipe {
    display: block;
    height: 1.5rem;
    width: 16.4vw;
    overflow: hidden;
    padding-top: 0.2em;
}

.recipes__table__recipe__button {
    text-decoration:underline;
    color: black;
}

.recipe__delete__button {
    text-decoration: none;
    color: #e84d4d;
}

.recipe__form {
    display: block;
    text-align: center;
}

.recipe__create__button {
    color: black;
    background-color: var(--clr-accent);
    margin-top: 7.5%;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 1em;
    border: 0.1em solid var(--clr-dark-grey);
    cursor: pointer;
}

.recipe__create__button:hover {
    transform: scale(1.1);
}

/* Available Section */

.available__container {
    background-color: var(--clr-light);
    border-radius: 1em;
    margin-left: 0.5rem;
    width: 25%;
}

.available__table__recipe {
    display: block;
    height: 1.5rem;
    width: 21.9vw;
    overflow: hidden;
    padding-top: 0.2em;
}

.check__available__container {
    display: block;
    text-align: center;
}

.check__available__button {
    margin-top: 7.5%;
    color: black;
    background-color: var(--clr-accent);
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 1em;
    border: 0.1em solid var(--clr-dark-grey);
    cursor: pointer;
}

.check__available__button:hover {
    transform: scale(1.1);
}

/* Your Meal Secition */

.yourmeal__container {
    background-color: var(--clr-light);
    border-radius: 1em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 25%;
}

.yourmeal__table__recipe {
    display: block;
    height: 1.5rem;
    width: 21.9vw;
    overflow: hidden;
    padding-top: 0.2em;
}

.yourmeal__button__container {
    display: block;
    text-align: center;
}

.yourmeal__button {
    margin-bottom: 0.25em;
    color: black;
    background-color: var(--clr-accent);
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 1em;
    border: 0.1em solid var(--clr-dark-grey);
    cursor: pointer;
}

.yourmeal__button:hover {
    transform: scale(1.1);
}

.yourmeal__accept__label {
    margin-left: 0em;
}

.yourmeal__bottom__container {
    display: inline-flex;
    margin-top: 0.5em;
}

.accept__yes {
    display: inline-block;
    margin-left: 0em;
    margin-right: 2vw;
    width: 3em;
    color: black;
    background-color: var(--clr-accent);
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 1em;
    border: 0.1em solid var(--clr-dark-grey);
    cursor: pointer;
}

.accept__yes:hover {
    transform: scale(1.1);
}

.accept__no {
    display: inline-block;
    width: 3em;
    color: black;
    background-color: var(--clr-accent);
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 1em;
    border: 0.1em solid var(--clr-dark-grey);
    cursor: pointer;
}

.accept__no:hover {
    transform: scale(1.1);
}

/* Recipe Details Modal */

.detail__title {
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h1);
    padding: 0em;
    margin: 0.5rem;
}

.detail__container {
    background-color: var(--clr-accent);
    border-radius: 1em;
    width: 50%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;
}

.detail__recipe__name {
    background-color: var(--clr-light);
    border-radius: 1em;
    border: 0.1em solid var(--clr-dark-grey);
    font-size: var(--fs-h2);
    text-align: center;
}

.detail__table__title {
    font-size: var(--fs-h3);
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.detail__table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-width: 100%;
    min-width: 100%;
    max-height: 80%;
    min-height: 80%;
}

.detail__table__header {
    background-color: var(--clr-accent-secondary);
    text-align: center;
    font-size: var(--fs-h5);
}

.detail__table__header tr th {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.1em;
    border-radius: 0.2em;
    border: 0.1em solid var(--clr-dark-grey);
}

.detail__table__body {
    text-align: center;
    font-size: var(--fs-body);
}

.detail__table__body tr td {
    border-radius: 0.2em;
    background-color: whitesmoke;
}

.detail_ingredient_key {
    width: 40vw;
    height: 1.6em;
}

.detail_ingredient_value {
    width: 10vw;
}

/* Create Recipe Modal */

.create__title {
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h1);
    padding: 0em;
    margin: 0.5rem;
}

.recipe__type__selector {
    background-color: var(--clr-accent);
    border-radius: 1em;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 1em;
    display: block;
    text-align: center;
}

.selector__label {
    margin-left: 0em;
    color: black;
    font-size: 1.10rem;
}

.selector__dropdown {
    color: black;
    background-color: ghostwhite;
}

.create__recipe__name__label {
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.create__recipe__name__input {
    width: 40%;
}

.create_ingredient_name_label {
    color:black;
    margin-top: 0.75em;
    display: inline-block;
}

.create_ingredient_name_input {
    width: 40%;
}

.create_ingredient_amount_label {
    color: black;
    margin-left: 1vw;
}

.create_ingredient_amount_input {
    width: 10%;
}

.create__button {
    display: inline-block;
    margin-top: 1em;
    color: black;
    background-color: var(--clr-accent-secondary);
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 1em;
    border: 0.1em solid var(--clr-dark-grey);
    cursor: pointer;
}

.create__button:hover {
    transform: scale(1.1);
}

.homepage__button {
    display: inline-block;
    color: black;
    margin-top: 0.5em;
    background-color: var(--clr-accent-secondary);
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 1em;
    border: 0.1em solid var(--clr-dark-grey);
    cursor: pointer;
}

.homepage__button:hover {
    transform: scale(1.1);
}

/* Responsive */
@media (max-width: 1000px) {
    .content__container {
        display: block;
        height: 100vh;
    }

    /* Ingredients */
    .ingredients__container {
        display: block;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }

    .ingredient_key {
        width: 60vw;
    }

    .ingredient_value {
        width: 20vw;
    }
    
    .ingredient_action {
        width: 20vw;
    }

    .ingredients_amount_label {
        margin-left: 25%;
    }

    /* Recipes */
    .recipes__container {
        display: block;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }

    .recipes__table__recipe {
        width: 72vw;
    }

    .recipes__table__delete {
        width: 28vw;
    }

    .recipe__create__button {
        margin-top: 0;
    }

    /* Available */
    .available__container {
        display: block;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }

    .available__table__recipe {
        width: 86vw;
    }

    .check__available__button {
        margin-top: 0;
    }

    /* Your Meal */
    .yourmeal__container {
        display: block;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }

    .yourmeal__table__recipe {
        width: 86vw;
    }

    /* Detail Modal */
    .detail__container {
        width: 80%;
        margin-bottom: 0.5em;
    }

    .detail_ingredient_key {
        width: 60vw;
    }

    .detail_ingredient_value {
        width: 15vw;
    }

    /* Create Recipe Modal */
    .recipe__type__selector {
        width: 80%;
    }

}