{% extends "base.html" %}

{% block head %}
<title>Foodomizer</title>
{% endblock %} 

{% block body %} 
<h1 class="app__title">Foodomizer</h1>
<div class="content__container">
    
    <!-- Ingredients Container-->
    <div class="ingredients__container">
        <h2 class="table__title">Your Ingredients</h2>
        <table class="table">
            <thead class="table__header">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead> <!-- End of ingredients__table__header-->
            <tbody class="table__body">
            {% for key, value in sorted_ingredients.items() %}
                <tr>
                    <td class="ingredient_key" name="ingredient_key"> {{ key }}</td>
                    <td class="ingredient_value" name="ingredient_value"> {{ value }}</td>
                    <td class="ingredient_action">
                        <a href="/ingredient_delete/{{key}}" class="ingredient__delete__button">
                            X 
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody> <!-- End of ingredients__table__body-->
        </table> <!-- End of ingredients__table-->

        <div class="ingredients__form">
            <form action="/ingredient_add" method="POST">
                <label class="ingredients_name_label">Ingredient Name</label>
                <label class="ingredients_amount_label">Amount</label>
                <input type="text" name="ingredients_name" class="ingredients_name">
                <input type="text" name="ingredients_amount" class="ingredients_amount"><br>
                <input type="submit" value="Add/Update Ingredient" class="ingredients_button">
            </form>
        </div> <!-- End of ingredients__form-->
    </div> <!-- End of ingredients__container-->

    <!-- Recipes Container-->
    <div class="recipes__container">
        <h2 class="table__title">Your Recipes</h2>
        <table class="table">
            <thead class="table__header">
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead> <!-- End of recipes__table__header-->
            <tbody class="table__body">
            {% for recipe in recipe_list %}
                <tr>
                    <td class="recipes__table__recipe">
                        <a href="/recipe_details/{{recipe}}" class="recipes__table__recipe__button">
                            {{ recipe }}
                        </a>
                    </td>
                    <td class="recipes__table__delete">
                        <a href="/recipe_delete/{{recipe}}" class="recipe__delete__button">
                            X
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody> <!-- End of recipes__table__body-->
        </table> <!-- End of recipes__table-->
        
        <div class="recipe__form">
            <form action="/recipe_create">
                <input class="recipe__create__button" type="submit" value="Create Recipe">
            </form> <!-- End of form-->
        </div> <!-- End of recipe__form-->
    </div> <!-- End of recipes__container-->

    <!-- Available Container-->
    <div class="available__container">
        <h2 class="table__title">Available Recipes</h2>
        <table class="table">
            <thead class="table__header">
                <tr>
                    <th>Name</th>
                </tr>
            </thead> <!-- End of available__table__header-->
            <tbody class="table__body">
            {% for recipe in available_recipes %}
                <tr>
                    <td class="available__table__recipe"> {{ recipe }}</td>
                </tr>
            {% endfor %}
            </tbody> <!-- End of available__table__body-->
        </table> <!-- End of available__table-->
        
        <div class="check__available__container">
            <form action="/check_available">
                <input type="submit" class="check__available__button" value="Check Available Recipes">
            </form>
        </div> <!-- End of check__available__container-->
    </div> <!-- End of available__container-->

    <!-- Your Meal Container-->
    <div class="yourmeal__container">
        <h2 class="table__title">Your Meal</h2>
        <table class="table">
            <thead class="table__header">
                <tr>
                    <th>Name</th>
                </tr>
            </thead> <!-- End of yourmeal__table__header-->
            <tbody class="table__body">
                <tr>
                    <td> {{ Your_meal }}</td>
                </tr>
            </tbody> <!-- End of yourmeal__table__body-->
        </table> <!-- End of yourmeal__table-->

        <div class="yourmeal__button__container">
            <form action="/your_meal">
                <input type="submit" class="yourmeal__button" value="Random Meal">
            </form>
            <label>
                Do you accept your meal?
            </label><br>
            <form action="/accept_choice_yes">
                <input type="submit" class="accept__yes" value="Yes">
            </form>
            <form action="/accept_choice_no">
                <input type="submit" class="accept__no" value="No">
            </form>
            
            
        </div> <!-- End of yourmeal__button__container-->
    </div> <!-- End of yourmeal__container-->


</div> <!-- End of content__container-->
{% endblock %} 