{% extends "base.html" %}

{% block head %}
<title>Foodomizer</title>
{% endblock %} 

{% block body %} 
<h1>Foodomizer</h1>
<div class="content__container">
    
    <!-- Ingredients Container-->
    <div class="ingredients__container">
        <h2>Your Ingredients</h2>
        <table class="ingredients__table">
            <thead class="ingredients__table__header">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead> <!-- End of ingredients__table__header-->
            <tbody class="ingredients__table__body">
            {% for key, value in sorted_ingredients.items() %}
                <tr>
                    <td class="ingredient_key" name="ingredient_key"> {{ key }}</td>
                    <td class="ingredient_value" name="ingredient_value"> {{ value }}</td>
                    <td>
                        <a href="/ingredient_delete/{{key}}">
                            X 
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody> <!-- End of ingredients__table__body-->
        </table> <!-- End of ingredients__table-->

        <div class="ingredients__form">
            <form action="/ingredient_add" method="POST">
                <input type="text" name="ingredients_name" class="ingredients_name">
                <input type="text" name="ingredients_amount" class="ingredients_amount">
                <input type="submit" value="Add/Update Ingredient">
            </form>
        </div> <!-- End of ingredients__form-->
    </div> <!-- End of ingredients__container-->

    <!-- Recipes Container-->
    <div class="recipes__container">
        <h2>Your Recipes</h2>
        <table class="recipes__table">
            <thead class="recipes__table__header">
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead> <!-- End of recipes__table__header-->
            <tbody class="recipes__table__body">
            {% for recipe in recipe_list %}
                <tr>
                    <td>
                        <a href="/recipe_details/{{recipe}}">
                            {{ recipe }}
                        </a>
                    </td>
                    <td>
                        <a href="/recipe_delete/{{recipe}}">
                            X
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody> <!-- End of recipes__table__body-->
        </table> <!-- End of recipes__table-->
        
        <div class="recipe__form">
            <form action="/recipe_create">
                <input class="recipe__create__button" type="submit" value="Create Recipe">
            </form> <!-- End of form-->
        </div> <!-- End of recipe__form-->
    </div> <!-- End of recipes__container-->

    <!-- Available Container-->
    <div class="available__container">
        <h2>Available Recipes</h2>
        <table class="available__table">
            <thead class="available__table__header">
                <tr>
                    <th>Name</th>
                </tr>
            </thead> <!-- End of available__table__header-->
            <tbody class="available__table__body">
            {% for recipe in available_recipes %}
                <tr>
                    <td> {{ recipe }}</td>
                </tr>
            {% endfor %}
            </tbody> <!-- End of available__table__body-->
        </table> <!-- End of available__table-->
        
        <div class="check__available__container">
            <form action="/check_available">
                <input type="submit" class="check__available__button" value="Check Available Recipes">
            </form>
        </div> <!-- End of check__available__container-->
    </div> <!-- End of available__container-->

    <!-- Your Meal Container-->
    <div class="yourmeal__container">
        <h2>Your Meal</h2>
        <table class="yourmeal__table">
            <thead class="yourmeal__table__header">
                <tr>
                    <th>Name</th>
                </tr>
            </thead> <!-- End of yourmeal__table__header-->
            <tbody class="yourmeal__table__body">
                <tr>
                    <td> {{ Your_meal }}</td>
                </tr>
            </tbody> <!-- End of yourmeal__table__body-->
        </table> <!-- End of yourmeal__table-->
    </div> <!-- End of yourmeal__container-->


</div> <!-- End of content__container-->
{% endblock %} 