{% extends "base.html" %}

{% block head %}
<title>Foodomizer</title>
{% endblock %} 

{% block body %}
<h1 class="detail__title">Recipe Details</h1>
<div class="detail__container">
    <h2 class="detail__recipe__name">{{recipe_name}}</h2>
    <h2 class="detail__table__title">Ingredients Needed</h2>
        <table class="detail__table">
            <thead class="detail__table__header">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                </tr>
            </thead> <!-- End of detail__table__header-->
            <tbody class="detail__table__body">
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing1 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni1 }}</td>
                </tr>    
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing2 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni2 }}</td>
                </tr>
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing3 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni3 }}</td>
                </tr>  
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing4 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni4 }}</td>
                </tr>  
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing5 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni5 }}</td>
                </tr>  
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing6 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni6 }}</td>
                </tr>  
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing7 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni7 }}</td>
                </tr>  
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing8 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni8 }}</td>
                </tr>  
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing9 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni9 }}</td>
                </tr>  
                <tr>
                    <td class="detail_ingredient_key" name="detail_ingredient_key"> {{ ing10 }}</td>
                    <td class="detail_ingredient_value" name="detail_ingredient_value"> {{ ni10 }}</td>
                </tr>  
            </tbody> <!-- End of detail__table__body-->
        </table> <!-- End of detail__table-->
</div> <!-- End of detail__container-->
{% endblock %}