{% extends "base.html" %}

{% block head %}
<title>Foodomizer</title>
{% endblock %} 

{% block body %}
<h1>Recipe Details</h1>
<h2>{{recipe_name}}</h2>
<h3>{{ing1}}</h3>
<h4>{{ni1}}</h4>
<h3>{{ing2}}</h3>
<h4>{{ni2}}</h4>
<h3>{{ing3}}</h3>
<h4>{{ni3}}</h4>
<h3>{{ing4}}</h3>
<h4>{{ni4}}</h4>
<h3>{{ing5}}</h3>
<h4>{{ni5}}</h4>
<h3>{{ing6}}</h3>
<h4>{{ni6}}</h4>
<h3>{{ing7}}</h3>
<h4>{{ni7}}</h4>
<h3>{{ing8}}</h3>
<h4>{{ni8}}</h4>
<h3>{{ing9}}</h3>
<h4>{{ni9}}</h4>
<h3>{{ing10}}</h3>
<h4>{{ni10}}</h4>
{% endblock %}