{% extends "base.html" %}

{% block head %}
<title>Foodomizer</title>
{% endblock %}

{% block body %}
<h1>Create Recipe</h1>

<div class="recipe__type__selector">
    <form action="/recipe_create" method="POST">
        <label>
            Select which type of recipe to create
        </label>
        <select title="selector" name="selector">
            {% for op in options %}
                {% if selected == op %}
                    <option value="{{op}}" selected>{{op}}</option>
                {% else %}
                    <option value="{{op}}">{{op}}</option>
                {% endif %}
            {% endfor %}
        </select>
        
        <label>Recipe Name</label>
        <input type="text" name="recipe_name"><br>
        <label>Ingredient 1 Name</label>
        <input type="text" name="ing1_name"><br>
        <label>Ingredient 1 Amount</label>
        <input type="text" name="ing1_amount"><br>
        <label>Ingredient 2 Name</label>
        <input type="text" name="ing2_name"><br>
        <label>Ingredient 2 Amount</label>
        <input type="text" name="ing2_amount"><br>
        <label>Ingredient 3 Name</label>
        <input type="text" name="ing3_name"><br>
        <label>Ingredient 3 Amount</label>
        <input type="text" name="ing3_amount"><br>
        <label>Ingredient 4 Name</label>
        <input type="text" name="ing4_name"><br>
        <label>Ingredient 4 Amount</label>
        <input type="text" name="ing4_amount"><br>
        <label>Ingredient 5 Name</label>
        <input type="text" name="ing5_name"><br>
        <label>Ingredient 5 Amount</label>
        <input type="text" name="ing5_amount"><br>
        <label>Ingredient 6 Name</label>
        <input type="text" name="ing6_name"><br>
        <label>Ingredient 6 Amount</label>
        <input type="text" name="ing6_amount"><br>
        <label>Ingredient 7 Name</label>
        <input type="text" name="ing7_name"><br>
        <label>Ingredient 7 Amount</label>
        <input type="text" name="ing7_amount"><br>
        <label>Ingredient 8 Name</label>
        <input type="text" name="ing8_name"><br>
        <label>Ingredient 8 Amount</label>
        <input type="text" name="ing8_amount"><br>
        <label>Ingredient 9 Name</label>
        <input type="text" name="ing9_name"><br>
        <label>Ingredient 9 Amount</label>
        <input type="text"name="ing9_amount"><br>
        <label>Ingredient 10 Name</label>
        <input type="text" name="ing10_name"><br>
        <label>Ingredient 10 Amount</label>
        <input type="text" name="ing10_amount"><br>
        <input type="submit" value="Create Recipe" action="/">
    </form>
    <form action="/">
        <input type="submit" value="Return to Home Page">
    </form>
</div>

{% endblock %}